<!doctype html>
<html lang="en">
  <head>
    <title>Home Users</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style> 
      body {
        background-image: url("https://wallpapercave.com/wp/wp2757852.gif");
        background-color: #cccccc;
        background-position:center;
        width: 100%;
        height: auto;
        padding: 2%;
      }
      </style>
    <h1 style="padding: 1%;color: white;font-family: 'Shadows Into Light', cursive;">Sparks Foundation Task 2</h6>
    <h5 style="padding: 1%;color: white;font-family: 'Shadows Into Light', cursive;">Click on your id number to start the transfer</h5>
  </head>
  
  <body">
    <table class=" table table-borderless table-dark" style="background-color: rgba(143, 138, 138, 0.466);">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">Lastname</th>
            <th scope="col">Current Credit</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a href="{{url_for('users',uid=user[0])}}" class="badge badge-primary">{{user[0]}}</a></td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
  </body>
</html>