<!doctype html>
<html lang="en">
  <head>
    <title>Send Credit</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
    body {
        background-image: url("https://wallpapercave.com/wp/wp2757874.gif");
        background-color: #cccccc;
        background-position:center;
        width: 100%;
        height: auto;
        padding: 2%;
      }
  </style>
  <script>
    var input1 = document.getElementById("r");
    var input2 = document.getElementById("Credit");
    input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("submit_button").click();
      }
    });
    input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("submit_button").click();
      }
    });
    function myFunction() {
      alert("Credit Transfer Successful");
      document.getElementById("form_id").submit();
    }
  </script>
  <body>
    <div class="container" style="font-family: 'Shadows Into Light', cursive;color: rgb(163, 116, 116);">
      {% with messages = get_flashed_messages()%}
      {% if messages%}
        {%for message in messages%}
          <h3> {{message}}</h3>
        {%endfor%}
      {%endif%}
    {%endwith%} 
    <div class="container">
      <h1 class="display-1" style="font-family: 'Shadows Into Light', cursive;color: white;">Please Enter the Information</h1>
      <form method="POST" action="" id="form_id">
          <div class="form-group">
              <label for="Input">Reciever ID</label>
              <input type="text" class="form-control"  name="Reciever_id" id="r">
            </div>
          <div class="form-group">
              <label for="Credit">Credit</label>
              <input type="number" class="form-control" name="Credit" id="Credit">
          </div>
          <input type="button" class="btn btn-primary" onclick="myFunction()" value="Submit">
      </form>
    </div>
  </body>
</html>